{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
<title>Home</title>
<section class="home">
		<center>
			<font size="6">
				
<p>ABOUT ME </p>

			</font>
			<img src="{% static 'images/Profile_img.jpg' %}" width="200" height="200">
			<font size="4">
				
<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dignissim, sapien et efficitur vulputate, felis blandit metus, vitae eleifend nisl justo sed nunc. Sed ut nunc malesuada, scelerisque mauris sed, hendrerit neque. Morbi eget nisl non tellus posuere iaculis. Nunc ut tincidunt est, a tempus tortor. Mauris lobortis felis elit, quis euismod urna lacinia vitae. Morbi interdum diam in faucibus finibus. Sed pellentesque sem a diam rhoncus, eu semper neque efficitur."</p>

			</font>
		</center>
</section>
